@page "/Trabajos/Delete/{TrabajoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicosService
@inject TrabajosService trabajosService
@inject ClientesService clientesService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDetails.css" />


<PageTitle> Eliminar Trabajo</PageTitle>


<div class="container mt-5">
    <div class="card p-4 shadow-lg border-primary">
        <div class="card-header">
            <h5 class="card-title text-center mb-4 bg-primary text-white p-2 rounded">Eliminar Trabajo</h5>
        </div>

        <div class="card-body">
            <div class="list-details">
                <ul class="list-group">
                    @*Cobro Id*@
                    <li class="list-group-item">
                        <strong> Trabajo Id:</strong> @Trabajo.TrabajoId
                    </li>

                    @*Fecha*@
                    <li class="list-group-item">
                        <strong>Fecha:</strong> @Trabajo.Fecha
                    </li>

                    @*Prioridad Id*@
                    <li class="list-group-item">
                        <strong>Prioridad Id:</strong> @Trabajo.Prioridad?.PrioridadId
                    </li>

                    @*Prioridad *@
                    <li class="list-group-item">
                        <strong>Prioridad:</strong> @Trabajo.Prioridad?.Descripcion
                    </li>

                    @*Cliente Id*@
                    <li class="list-group-item">
                        <strong>Cliente Id:</strong> @Trabajo.Cliente?.ClienteId
                    </li>

                    @*Cliente *@
                    <li class="list-group-item">
                        <strong>Cliente:</strong> @Trabajo.Cliente?.Nombres
                    </li>

                    @*Tecnico Id*@
                    <li class="list-group-item">
                        <strong>Tecnico Id:</strong> @Trabajo.Tecnico?.TecnicoId
                    </li>

                    @*Tecnico *@
                    <li class="list-group-item">
                        <strong>Tecnico:</strong> @Trabajo.Tecnico?.NombresTecnico
                    </li>

                    @*Descripcion *@
                    <li class="list-group-item">
                        <strong>Descripc&iacute;on:</strong> @Trabajo.Descripcion
                    </li>

                    @*Monto*@
                    <li class="list-group-item">
                        <strong>Monto:</strong> @Trabajo.Monto.ToString("N2")
                    </li>
                </ul>

                <div class="border border-success p-3 mt-3">
                    @foreach (var detalle in Trabajo.TrabajosDetalles)
                    {
                        <ul>
                            <li>Articulo Id: @detalle.ArticuloId</li>
                            <li>Nombre Articulo: @detalle.Articulo?.Descripcion</li>
                            <li>Cantidad Articulo: @detalle.Cantidad </li>
                            <li>Total en Articulos: @detalle.Precio $</li>
                        </ul>
                    }
                </div>
            </div>

            <div>
                <h6>¿Estas seguro que deseas eliminar este Trabajo?</h6>
            </div>
        </div>


        <div class="card-footer d-flex justify-content-center">
            <a href="/Trabajos/Index" class="btn btn-outline-primary bi bi-arrow-left mt-3"> Volver</a>
            <button type="submit" @onclick="Eliminar" class="btn btn-outline-danger btn bi bi-trash mt-3"> Eliminar</button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int TrabajoId { get; set; }
    public Trabajos Trabajo { get; set; } = new Trabajos();

    protected override async Task OnInitializedAsync()
    {
        Trabajo = await trabajosService.BuscarConDetalles(TrabajoId);
    }

    public async Task Eliminar()
    {
        var eliminar = await trabajosService.Eliminar(Trabajo.TrabajoId);

        if (eliminar)
        {
            Console.WriteLine("El Trabajo fue eliminado correctamente.");
            navigation.NavigateTo("/Trabajos/Index");
        }
        else
        {
            Console.WriteLine("No se pudo eliminar el técnico.");
            // Aquí podrías mostrar un mensaje de error en la interfaz si lo deseas.
        }
    }
}
