@page "/Trabajos/Details/{TecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicosService
@inject TrabajosService trabajosService
@inject ClientesService clientesService
@inject NavigationManager navigation
<link rel="stylesheet" href="StyleDetails.css" />

<PageTitle> Detalles Trabajo</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5><strong>Datos del Trabajo</strong></h5>
        </div>

        <div class="card-body">
            <table class="mt-4 table">
                <tr>
                    <td><strong>Trabajo Id:</strong></td>
                    <td>@Trabajo.TrabajoId</td>
                </tr>
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td>@Trabajo.Fecha</td>
                </tr>
                <tr>
                    <td><strong>Prioridad Id:</strong></td>
                    <td>@Trabajo.Prioridad?.PrioridadId</td>
                </tr>
                <tr>
                    <td><strong>Prioridad:</strong></td>
                    <td>@Trabajo.Prioridad?.Descripcion</td>
                </tr>
                <tr>
                    <td><strong>Cliente Id:</strong></td>
                    <td>@Trabajo.Cliente?.ClienteId</td>
                </tr>
                <tr>
                    <td><strong>Cliente:</strong></td>
                    <td>@Trabajo.Cliente?.Nombres</td>
                </tr>
                <tr>
                    <td><strong>Técnico Id:</strong></td>
                    <td>@Trabajo.Tecnico?.TecnicoId</td>
                </tr>
                <tr>
                    <td><strong>Técnico:</strong></td>
                    <td>@Trabajo.Tecnico?.NombresTecnico</td>
                </tr>
                <tr>
                    <td><strong>Descripción:</strong></td>
                    <td>@Trabajo.Descripcion</td>
                </tr>
                <tr>
                    <td><strong>Monto:</strong></td>
                    <td>@Trabajo.Monto.ToString("N2")</td>
                </tr>
            </table>
                <div class="border border-success p-3 mt-3">
                    @foreach(var detalle in Trabajo.TrabajosDetalles)
                    {
                        <ul>
                            <li>Articulo Id: @detalle.ArticuloId</li>
                            <li>Nombre Articulo: @detalle.Articulo?.Descripcion</li>
                            <li>Cantidad Articulo: @detalle.Cantidad </li>
                            <li>Total en Articulos: @detalle.Precio $</li>
                        </ul>
                    }
                </div>
        </div>


        <div class="card-footer text-center">
            <a href="/Trabajos/Index" class="btn btn-outline-primary bi bi-arrow-left"> Volver</a>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Trabajos Trabajo { get; set; } = new Trabajos();

    protected override async Task OnInitializedAsync()
    {
        Trabajo = await trabajosService.BuscarConDetalles(TecnicoId);
    }
}