@page "/Trabajos/Index"
@rendermode InteractiveServer
@inject TecnicoService tecnicosService
@inject TrabajosService trabajosService
@inject ClientesService clientesService
@inject NavigationManager navigation

<PageTitle> Registro de Trabajos</PageTitle>

<div class="container">
	<div class="card shadow-lg">

		<div class="card-header">
			<h5 class="card-title text-center ">Registro de Trabajo</h5>
		</div>
		<div class="card-body">
			<div class="row mb-3">
				<div class="col-md-6">
					<label for="filtrarPor"> Filtrar por:</label>
					<InputSelect id="filtrarPor" class="form-select" @bind-Value="FiltroSeleccionado">
						<option value="ID">ID</option>
					</InputSelect>
				</div>

				<div class="col-md-6 d-flex justify-content-center mt-4">
					<div class="input-group">
						<InputText id="Busqueda" class="form-control" @bind-Value="CriterioBusqueda"></InputText>
						<button @onclick="BuscarTecnicos" class="btn btn-primary bi bi-search "> Buscar</button>
					</div>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col text-end">
					<a href="/Trabajos/Create" class="btn btn-primary bi bi-plus-square mt-3">
						Crear
					</a>
				</div>
			</div>

			<table class="table table-light table-hover">
				<thead class="table table-striped ">
					<tr class="text-center">
						<th>Trabajo Id</th>
						<th>Fecha</th>
						<th>Prioridad</th>
						<th>Cliente Id</th>
						<th>Cliente</th>
						<th>Tecnico Id</th>
						<th>Tecnico</th>
						<th>Descripc&iacute;on</th>
						<th>Monto</th>
						<th>Detalles</th>
						<th>Modificar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var trabajo in Trabajo)
					{
						<tr class="text-center">
							<td>@trabajo.TrabajoId</td>
							<td>@trabajo.Fecha.ToString("dd/MM/yyyy")</td>
							<td>@trabajo.Prioridad?.Descripcion</td>
							<td>@trabajo.Cliente?.ClienteId</td>
							<td>@trabajo.Cliente?.Nombres</td>
							<td>@trabajo.Tecnico?.TecnicoId</td>
							<td>@trabajo.Tecnico?.NombresTecnico</td>
							<td>@trabajo.Descripcion</td>
							<td>@trabajo.Monto.ToString("N2")</td>
							<td>
								<a href="/Trabajos/Details/@trabajo.TrabajoId" class="btn btn-primary bi bi-eye"></a>
							</td>
							<td>
								<a href="/Trabajos/Edit/@trabajo.TrabajoId" class="btn btn-primary bi bi-pencil-square"></a>
							</td>
							<td>
								<a href="/Trabajos/Delete/@trabajo.TrabajoId" class="btn btn-primary bi bi-trash"></a>
							</td>
						</tr>
					}
				</tbody>

			</table>
		</div>
		<div class="card-footer">
		</div>
	</div>
</div>


@code {
    public List<Trabajos> Trabajo { get; set; } = new List<Trabajos>();
    private string FiltroSeleccionado { get; set; } = "ID";
    private string CriterioBusqueda { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Trabajo = await trabajosService.Listar(a => true);
    }

    private async Task BuscarTecnicos()
    {
        switch (FiltroSeleccionado)
        {
            case "ID":
                if (int.TryParse(CriterioBusqueda, out int id))
                {
                    Trabajo = await trabajosService.Listar(a => a.TrabajoId == id);
                }
                break;

        }
    }

}
