@page "/Tecnicos/Delete/{tecnicoId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation

<PageTitle> Eliminar T&eacute;cnicos</PageTitle>


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5><strong>Datos del T&eacute;cnico</strong></h5>
        </div>

        <div class="card-body">
            <div class="text-center">
                <h5>¿Desea eliminar el T&eacute;cnico</h5>
            </div>
            <table class="mt-4 table">
                <tr>
                    <td><strong>Técnico Id:</strong></td>
                    <td>@Tecnico.TecnicoId</td>
                </tr>
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td>@Tecnico.Fecha</td>
                </tr>
                <tr>
                    <td><strong>Nombre Técnico:</strong></td>
                    <td>@Tecnico.NombresTecnico</td>
                </tr>
                <tr>
                    <td><strong>Sueldo por hora:</strong></td>
                    <td>@Tecnico.SueldoHora.ToString("N2")</td>
                </tr>
                <tr>
                    <td><strong>Descripción Técnico:</strong></td>
                    <td>@Tecnico.TipoTecnico.Descripcion</td>
                </tr>
            </table>

        </div>


        <div class="card-footer text-center">
            <a href="/Tecnicos/Index" class="btn btn-outline-primary bi bi-arrow-left"> Volver</a>
            <button type="submit" @onclick="Eliminar" class="btn btn-outline-danger btn bi bi-trash"> Eliminar</button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos Tecnico { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicoService.Buscar(TecnicoId);
    }

    public async Task Eliminar()
    {
        var eliminar = await tecnicoService.Eliminar(Tecnico.TecnicoId);

        if (eliminar)
        {
            Console.WriteLine("El técnico fue eliminado correctamente.");
            navigation.NavigateTo("/Tecnicos/Index");
        }
        else
        {
            Console.WriteLine("No se pudo eliminar el técnico.");
            // Aquí podrías mostrar un mensaje de error en la interfaz si lo deseas.
        }
    }
}
